@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --color-offwhite: #F7F2E8;
    --color-headings: #3C0E0E;
    --color-text1: #000000;
    --color-text2: #282828;
    --color-text3: #1A1A1A;
    --color-text4: #222222;
    --color-brand1: #431B1B;
    --color-brand2: #4D1D1D;
    --color-pink1: #EB8E8E;
    --color-pink2: #F9C4C4;
}

body {
    background-color: var(--color-offwhite);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 220px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition-duration: 200ms;

    &.active {
        background-image: linear-gradient(var(--color-offwhite) 60%, transparent);
    }

    & nav {
        display: flex;
        align-items: center;

        & h1 {
            font-size: 24px;
            font-weight: 500;
            margin-right: 50px;
        }
    }

    & ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 40px;

        & a {
            text-decoration: none;
            font-size: 20px;
            color: var(--color-headings);
            position: relative;

            &::after {
                content: "";
                width: 0%;
                height: 5px;
                border-radius: 3px;
                background-color: var(--color-headings);
                position: absolute;
                top: 100%;
                right: 0%;
                transition-duration: 200ms;
            }

            &.ativo::after,
            &:hover::after {
                width: 100%;
                left: 0%;
            }

            &.bnt {
                line-height: 48px;
                padding: 0 32px;
                background-color: var(--color-brand1);
                color: var(--color-offwhite);
                border-radius: 24px;
                display: block;

                &::after {
                    display: none;
                }

                &:hover {

                    background-color: #EB8E8E;
                    color: var(--color-brand1);
                    transition: transform 0.3s ease-in-out;
                    transform: scale(1.1);
                }
            }
        }
    }
}

.banner {
    padding: 0 220px 0 260px;
    display: flex;
    align-items: flex-end;

    &>div {


        & h3 {
            font-size: 24px;
            color: var(--color-headings);

        }

        & h1 {
            font-size: 80px;
            color: var(--color-headings);
            line-height: 104%;
        }

        & p {
            width: 305px;
            color: var(--color-headings);
            line-height: 157%;
            margin-top: 20px;
            margin-bottom: 60px;
        }
    }
}

.cafes {
    background-image: url(imgs/bg-cafes.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 60px;

    & h3 {
        font-weight: 500;
        font-size: 40px;
        color: var(--color-headings);
        text-align: center;

        & div {
            width: 65px;
            height: 2px;
            background-color: var(--color-headings);
            margin: 0 auto;
        }
    }

    & p {
        color: var(--color-headings);
        text-align: center;
        width: 550px;
        margin: 0 auto;
        margin-top: 16px;
    }

    & a {
        color: var(--color-headings);
        text-decoration: none;
        display: block;
        margin: 20px auto;
        width: 120px;
        text-align: center;
        font-weight: bold;

        &:hover {
            color: var(--color-pink1);

        }
    }

    & .opcoes {
        padding-top: 60px;
        display: flex;
        gap: 70px;
        align-items: center;
        justify-content: center;
        text-align: center;


        & div:nth-child(1) {
            background-image: linear-gradient(45deg, #C27D7A, #F6C7C5);
        }

        & div:nth-child(2) {
            background-image: linear-gradient(45deg, #54151194, #FAFAFAF2);
        }

        & div:nth-child(3) {
            background-image: linear-gradient(45deg, #541511F2, #0A0909F2);
        }

        & div {
            width: 325px;
            padding-top: 24px;
            padding-bottom: 26px;
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 48px;
            color: var(--color-offwhite);

            & img {
                width: 100%;
            }

            & p {
                width: auto;
                color: var(--color-offwhite);
            }

            & h5 {
                font-size: 20px;


            }

            & h4 {
                font-size: 32px;
            }

            & button {
                width: 260px;
                height: 46px;
                margin-top: 30px;
                border: 0;
                border-radius: 23px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}

.receita {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 220px;

    & h4 {
        display: inline-block;
        background-color: #ffffff;
        line-height: 40px;
        border-radius: 20px;
        color: var(--color-pink1);
        padding: 0 16px;
        box-shadow: 0px 4px 10px #00000033;
        margin-bottom: 16px;
    }

    & h1 {
        font-size: 80px;
        line-height: 90px;
        color: var(--color-headings);

        & div {
            width: 50px;
            height: 1px;
            background-color: var(--color-headings);
            margin-left: 6px;
        }
    }

    & h2 {
        font-size: 40px;
        font-weight: 500;
        margin-top: 16px;
        margin-bottom: 16px;
        color: var(--color-headings);
    }

    & p {
        width: 310px;
        color: var(--color-headings);
        margin-bottom: 16px;
    }

    & a {
        text-decoration: none;
        font-weight: 600;
        color: var(--color-headings);
        transition-duration: 150ms;

        &:hover {
            color: var(--color-pink1);
        }
    }
}

.delivery {
    width: calc(100% - 440px);
    background-image: linear-gradient(225deg, #f3c7c4, #930f06);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 48px;

    & img {
        width: 80%;
        margin-top: -60px;
        padding-bottom: 40px;
    }

    & div:nth-child(2) {
        text-align: right;
        padding-right: 30px;
        color: #ffffff;

        & h2 {
            font-size: 48px;
            margin-bottom: 30px;
        }

        & a {
            width: 280px;
            line-height: 50px;
            display: inline-block;
            background-color: #ffffff;
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            border-radius: 25px;
            box-shadow: 0px 8px 10px #00000025;
            text-decoration: none;
            margin-top: 30px;
            color: #000000;
            transition-duration: 200ms;
            box-shadow: 0px 4px 10px;

            &:hover {
                transform: scale(1.1);
                color: var(--color-pink2);
            }
        }
    }
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 270px;
    background-image: url(imgs/bg-sobre.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 300px;
    padding-bottom: 100px;

    & div {
        flex: 1;
        color: var(--color-headings);

        & h6 {
            font-size: 20px;
        }

        & h2 {
            font-size: 48px;
            line-height: 50px;
        }

        & p {
            padding-left: 150px;
            margin-bottom: 30px;
        }
    }

}

.local {
    width: calc(100% - 440px);
    margin: 0 auto;
    display: flex;
    background-image: linear-gradient(45deg, #f3c7c4, #930f06);
    border-radius: 48px;
    color: #ffffff;
    position: relative;

    &>img {
        position: absolute;
        left: 48%;
        bottom: -20px;
        transform: translate(-50%);
    }

    &>div:nth-child(1) {
        flex: 1;
        padding: 50px 0 50px 40px;

        & h2 {
            font-size: 80px;
            line-height: 80px;

            & div {
                width: 50px;
                height: 1px;
                background-color: #ffffff;
                margin-top: 12px;
            }

        }

        & h5 {
            font-size: 20px;
            margin-top: 16px;
            font-weight: 400;
            margin-bottom: 16px;
        }

        & a {
            font-size: 16px;
            color: var(--color-headings);
            font-weight: 600;
            text-decoration: none;
            display: block;
            margin-top: 20px;
        }
    }

    &>div:nth-child(2) {
        width: 380px;
        background-image: linear-gradient(45deg, #ffffff, #930f06);
        border-radius: 0 48px 48px 0;
        padding: 30px 40px;

        & h3 {
            font-size: 40px;

            & div {
                width: 100%;
                height: 1px;
                background-color: #ffffff;
                margin-top: 20px;
            }
        }

        & p {
            margin: 26px 0;
        }

        & div {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}

footer {
    width: calc(100% - 440px);
    border-top: 1px solid #3C0E0E60;
    margin: 0 auto;
    margin-top: 85px;
    padding: 70px 0 ;
    display: flex;
    justify-content: space-between;
    color: var(--color-headings);

    & h6 {
        font-size: 20px;
        color: var(--color-text2);
        margin-bottom: 10px;
        font-weight: 500;
    }

    & p {
        width: 290px;
        margin-bottom: 20px;
    }

}

    .links{
        display: flex;
        flex-direction: column;


        & a{
            text-decoration: none;
            color: var(--color-headings);
            transition-duration: 200ms;

            &:hover{
                color: var(--color-text2);
                padding-left:10px ;
            }
        }
    }

.delivery a {
    transition: transform 0.2s ease-in-out;
}


.dono{
    font-size: 12px;
    text-decoration: none;
    color: #ff0000;
    transition-duration:200ms;
    
    &:hover{
        color: #ff000090;
    }
}